<div class="container-fluid">
  <div>
    <h2 class="text-center">Github</h2>
    <h2 class="text-center">Search</h2>
    <hr>
    <p class="text-center"> We help you find people on github and also any repository with the click of a button</p>
    <hr>
  </div>
    <form>
        <div class="form-group">
  
            <label for="name">Name</label>
            <input type="text" class="form-control" id="username"  name="username" placeholder="Enter username or repository name." #username required>
        </div>
        <button type="submit" class="btn btn-warning" (click)='goToUrl(username.value)'>Search</button>
    </form>
  </div>