<div class="container" style="display: flex; flex-direction: row; justify-content: space-between">
  <div class="row">
        <div class="col-md-1">
            <p>{{user.login}}</p>
            <img src="{{user.avatar_url}}" style=" border-radius: 50%">

        </div>


       <div class="col-md-5">
         <p>Username: {{user.login}}</p>
          {{user.login}} Github account:<p style="text-decoration: underline"> {{user.html_url}} </p>
         <p>Number of repositories: {{user.public_repos}}</p>
       </div>


      <div class="col-md-6" style="margin-left: -10%">
          <div class="panel-body" *ngFor="let repo of repos">
              <p class="clearfix">
                {{repo.name}} Created on {{repo.created_at|date}} <a href="{{repo.html_url}}" target="_blank"
                    class="btn btn-sm btn-primary pull-right">Click to visit</a>
              </p>
              <hr>
          </div>
      </div>
  </div>
</div>